{% extends "base.html" %}
{% set active_page = "messages" %}
{% import "macros.html" as macros %}
{% block title %}Messages{% endblock %}

{% block content %}
<h1 class="text-centered">Messages</h1>
<ul class="list-group">
    {% for msg in messages %}
        <li class="list-group-item">
        <div class="d-flex justify-content-between">
            <div>{{ msg.value }}</div>
            <div class="btn-group" role="group">
                <a href="{{ url_for('.edit_message', message_id=msg.id) }}" class="btn btn-outline-secondary">Edit</a>
                <a class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
        </li>
    {% endfor %}
</ul>


<h3 class="text-centered">New Message</h3>
{{ macros.render_form(form, url_for('.index'), 'Add message') }}


{% endblock %}