{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}Edit Tasks{% endblock %}

{% block content %}
<h1 class="text-center">Edit Configuration</h1>

<form method="POST" action="{{ url_for('.edit') }}">
{{ form.csrf_token }}
<div class="form-group row">
    {{ form.num_lights.label(class='col-sm-2 col-form-label') }}
    <div class="col-sm-4">{{ form.num_lights(class='form-control') }}</div>
</div>
<table class="table">
<thead>
<tr>
    <td scope="col">Slot</td>
    <td scope="col">Task</td>
</tr>
</thead>
<tbody>
{% for light_form in form.lights %}
    {{ light_form.hidden_tag() }}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ light_form.task() }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
<input type="submit" value="Submit Changes" class="btn btn-primary">
</form>

{% endblock %}