{% extends "base.html" %}
{% import "macros.html" as macros %}
{% set active_page = "accounts" %}
{% block title %}Edit Tasks{% endblock %}

{% block content %}
<h1 class="text-center">Edit Tasks</h1>

<form method="POST" action="{{ url_for('.edit') }}">
<table class="table">
<thead>
<tr>
    <td scope="col">Name</td>
    <td scope="col">Type</td>
    <td scope="col">Position</td>
    <td scope="col">Delete</td>
</tr>
</thead>
<tbody>
{% for task in tasks|sort(attribute='sort_order') %}
    <tr>
    <td>{{ task.name }}</td>
    <td>{{ task.type }}</td>
    <td><input type="number" name="Task_{{ task.id }}_sortOrder" value="{{ task.sort_order }}"></td>
    <td><input type="checkbox" name="Task_{{ task.id }}_delete"></td>
    </tr>
{% endfor %}
</tbody>
</table>
<input type="submit" value="Submit Changes" class="btn btn-primary">
</form>

{% endblock %}