{% macro render_form(form, action, submit) -%}
    <form method="POST" action="{{ action }}">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if field.type != "HiddenField" and field.id != 'csrf_token' %}
            <div class="form-group row">
                {{ field.label(class='col-sm-2 col-form-label') }}
                <div class="col-sm-4">
                    {% if form.errors %}
                        {% if field.errors %}
                            {{  field(class='form-control is-invalid') }}
                            <div class="invalid-feedback">{{ field.errors[0] }}</div>
                        {% else %}
                            {{  field(class='form-control is-valid') }}
                            <div class="valid-feedback">Looks good!</div>
                        {% endif %}
                    {% else %}
                        {{  field(class='form-control') }}
                    {% endif %}
                </div>
            </div>
            {%  endif %}
        {% endfor %}
        <input type="submit" value="{{ submit }}" class="btn btn-primary">
    </form>
{%- endmacro %}