{% macro render_form(form, action, submit) -%}
    <form method="POST" action="{{ action }}">
        {{ form.hidden_tag() }}
        {% for field in form|rejectattr('type', 'eq', 'HiddenField')|rejectattr('id', 'eq', 'csrf_token') %}
            {% if field.type == 'FieldList' %}
                <fieldset class="form-group">
                    <legend>{{ field.label.text }}</legend>
                    {% for subfield in field.entries %}
                       <div class="form-group row">
                            {{ subfield.label(class='col-sm-2 col-form-label') }}
                            <div class="col-sm-4">
                                {% if form.errors %}
                                    {% if subfield.errors %}
                                        {{  subfield(class='form-control is-invalid') }}
                                        <div class="invalid-feedback">{{ subfield.errors[0] }}</div>
                                    {% else %}
                                        {{  subfield(class='form-control is-valid') }}
                                        <div class="valid-feedback">Looks good!</div>
                                    {% endif %}
                                {% else %}
                                    {{  subfield(class='form-control') }}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </fieldset>
            {% else %}
                <div class="form-group row">
                    {{ field.label(class='col-sm-2 col-form-label') }}
                    <div class="col-sm-4">
                        {% if form.errors %}
                            {% if field.errors %}
                                {{  field(class='form-control is-invalid') }}
                                <div class="invalid-feedback">{{ field.errors[0] }}</div>
                            {% else %}
                                {{  field(class='form-control is-valid') }}
                                <div class="valid-feedback">Looks good!</div>
                            {% endif %}
                        {% else %}
                            {{  field(class='form-control') }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <input type="submit" value="{{ submit }}" class="btn btn-primary">
    </form>
{%- endmacro %}

{% macro message_list(messages, jwt) -%}
    <ul class="list-group">
    {% for msg in messages %}
        <li class="list-group-item" id="{{ msg.id }}">
        <div class="d-flex justify-content-between">
            <div>{{ msg.name }}</div>
            <div class="btn-group" role="group">
                <a href="{{ url_for('messages.edit_message', message_id=msg.id) }}" class="btn btn-outline-secondary">Edit</a>
                <a class="btn btn-outline-danger" onclick="deleteMessage({{ msg.id }})">Delete</a>
            </div>
        </div>
        </li>
    {% endfor %}
    <script>
    function deleteMessage(message_id) {
        var req = new XMLHttpRequest();
        req.open("DELETE",  "{{ url_for('api.messages') }}" + message_id);
        req.setRequestHeader('Authorization', 'Bearer {{ jwt }}');
        req.onload = function() {
            if (req.status >= 200 && req.status < 400) {
                location.reload(true);
            }
        }
        req.send();
    }
    </script>
{% endmacro %}