{% extends "base.html" %}
{% set active_page = "messages" %}
{% import "macros.html" as macros %}
{% block title %}Messages{% endblock %}

{% block content %}
<h1 class="text-centered">Messages</h1>
<ul class="list-group">
    {% for msg in messages %}
        <li class="list-group-item">{{ msg }}</li>
    {% endfor %}
</ul>


<h3 class="text-centered">New Message</h3>
{{ macros.render_form(message_form, url_for('.messages'), 'Add message') }}
<form method="POST" action="{{ url_for('.clear_messages') }}">
<input type="submit" class="btn btn-danger" value="Clear Messages">
</form>


{% endblock %}