{% extends "base.html" %}
{% import "macros.html" as macros %}
{% set active_page = "accounts" %}
{% block title %}Setup DevOps Monitor Configuration{% endblock %}

{% block content %}
<h1 class="text-center">Configure Tasks</h1>

<form method="POST" action={{ url_for('.account_tasks', account_id=account_id) }}>
{{ form.hidden_tag() }}

<h4>Build Tasks</h4>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Monitor</th>
        <th scope="col">Project</th>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    {% for build in form.builds %}
        {{ build.hidden_tag() }}
        <tr>
            <td>{{ build.monitored() }}</td>
            <td>{{ build.project.data }}</td>
            <td>{{ build.pipeline.data }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h4>Release Tasks</h4>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Monitored</th>
        <th scope="col">Project</th>
        <th scope="col">Pipeline</th>
        <th scope="col">Environment</th>
        <th scope="col">Use Webhook</th>
    </tr>
    </thead>
    <tbody>
    {% for release in form.releases %}
        {{ release.hidden_tag() }}
        <tr>
        <td>{{ release.monitored() }}</td>
        <td>{{ release.project.data }}</td>
        <td>{{ release.pipeline.data }}</td>
        <td>{{ release.environment.data }}</td>
        <td>{{ release.uses_webhook() }}</td>
        </tr>
        {% if release.uses_webhook.data %}
            <tr>
                <td colspan="5">Webhook URL: {{ url_for('api.devops_webhook', account_id=account_id, project_id=release.project.data, _external=True) }}</td>
            </tr>
        {% endif %}
    {% endfor %}

    </tbody>
</table>

<input type="submit" value="Update" class="btn btn-primary">
</form>

{% endblock %}